@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
.text-clock {
  font-size: 14px;
  font-weight: 400;
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.3;
  line-height: 1.2;
}

.tooltip {
  border: 1px solid #000000;
}

.tooltip::before {
  content: '';
  z-index: 1000;
  position: absolute;
  display: block;    
  width: 0px;
  left: 9.5px;
  bottom: 5.5px;
  border: 10px solid transparent;
  border-bottom: 0;
  border-top: 10px solid #FFFDD5;
  transform: translate(-50%, calc(100% + 5px));
}

.tooltip::after {
  content: '';
  z-index: 999;
  position: absolute;
  display: block;  
  width: 0px;
  left: 9.5px;
  bottom: 4.5px;
  border: 10px solid transparent;
  border-bottom: 0;
  border-top: 10px solid #000000;
  transform: translate(-50%, calc(100% + 5px));
}